# Python
*.py[cod]
__pycache__/
*$py.class
__pypackages__/

# Build
/dist/
/build/

# Cache
.cache/
.mypycache/
.mypy_cache/
.coverage*

# Data
.csv

# Editor
/.idea/
/.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Virtual environment
.env
.venv
env/
venv/
ENV/

# Other files
*.pdf